//
// Base styles
// --------------------------------------------------

html, body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fff;
  background-color: $brand-primary;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

// Browse Happy prompt
.browsehappy {
  text-align: center;
  font-size: .9em;
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-bottom: 1px solid #dbd0b6;
  margin: 0;
  padding: .8em 0;
  
  a {
    color: #8a6d3b;
  }
}

// No JS alert
.no-js-alert {
  border: 1px solid #faebcc;
  font-size: 0.8em;
  color: #8a6d3b;
  background-color: #fcf8e3;
  margin: 0;
  padding: 10px;
}
