//
// Info window
// --------------------------------------------------

.info-window {
  width: 225px;
  height: 53px;
  text-align: center;
  
  h2 {
    font-style: 1.1em;
    margin: 0 0 5px;
  }
  
  p {
    margin: 0;
  }
}
