//
// Loading message
// Originally from: http://codepen.io/Pesca/pen/kgLth
// --------------------------------------------------

.loading-message {
  cursor: default;
  height: 100%;
}

.loading-message-letter {
  opacity: 0.9;
  text-transform: uppercase;
  position: relative;
  font-size: 2.3em;
  top: calc(50% - 43px);
  text-shadow: 0px 0px 5px #333;
  
  &:nth-child(1) {
    animation: fade 4s infinite 200ms;
  }
  
  &:nth-child(2) {
    animation: fade 4s infinite 400ms;
  }
  
  &:nth-child(3) {
    animation: fade 4s infinite 600ms;
  }
  
  &:nth-child(4) {
    animation: fade 4s infinite 800ms;
  }
  
  &:nth-child(5) {
    animation: fade 4s infinite 1000ms;
  }
  
  &:nth-child(6) {
    animation: fade 4s infinite 1200ms;
  }
  
  &:nth-child(7) {
    animation: fade 4s infinite 1400ms;
  }

  // Phone landscape devices and up
  // --------------------------------------------------
  @media (min-width: 480px) {
    font-size: 3em;
    top: calc(50% - 56px);
  }
}

// Fading animation
@keyframes fade {
  
  50% {
    opacity: 0.2;
  }
}
