//
// Info window
// --------------------------------------------------

.info-window {
  min-height: 54px; // Ensure height is available for injected address line
  
  dl {
    margin: 0;
  }
  
  dt {
    font-weight: bold;
    float: left;
  }
  
  dd {
    margin-left: 40px;
  }
  
  .error {
    color: #a94442;
  }
}

.info-window-error {

  p {
    font-weight: bold;
    color: #a94442;
    margin: 0;
  }
}
