//
// Info window
// --------------------------------------------------

.info-window {
  min-height: 54px; // Ensure height is available for injected address line
  
  dl {
    margin: 0;
  }
  
  dt {
    font-weight: bold;
    float: left;
  }
  
  dd {
    margin-left: 40px;
  }
  
  p {
    margin: 0;
  }
  
  .error {
    color: #c00000;
  }
}
